@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    body {
        background-image: url(https://images2.alphacoders.com/733/733417.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position-x: 50%;
    }
</style>

<html lang="ar">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectEtoPrototype</title>
    <link rel="stylesheet" href="~/css/@Program.GlobalVars["Theme"]" />
    <link rel="stylesheet" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectEtoPrototype.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body dir="rtl">
    <header>
        <div class="text-center pt-3">
            <h1 class="pb-3 pt-3 droid-arabic-kufi border unselectable animated bounce infinite" style="font-size:500%;">
                مشروع ETO
            </h1>
        </div>
    </header>
</body>

</html>