
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_WelcomeBaseLayout.cshtml";
}

<style>
    body {
        background-image: url(https://images2.alphacoders.com/733/733417.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position-x: 50%;
    }
</style>

<body dir="rtl" class="droid-arabic-kufi container">
<div class="text-center pt-3 px-5 row">
    <h1 class="animate__animated animate__fadeIn pb-3 pt-3 unselectable border-bottom" style="font-size:400%">
        مشروع ETO
    </h1>
</div>
<div class="row" style="margin: 5%"></div>
<div class="row pt-5 px-5">
    <ul class="list-group list-group-flush animate__animated animate__fadeIn">
        <li class="li_m">
            <h5>
                ETO: منظم المهام اليومية
            </h5>
        </li>
        <li class="li_m">
            <h5>
                يساعدك على تتبع المهام والمصاريف والمواعيد
            </h5>
        </li>
        <li class="li_m">
            <h5>
                التسجيل لا يتطلب بريد الكتروني او كلمة مرور
            </h5>
        </li>
    </ul>
</div>
<div class="row" style="margin: 10%"></div>
<div class="row pt-5 px-5">
    <div class="btn-group" role="group" dir="ltr">
        <a class="animate__animated animate__fadeIn btn btn-lg btn-outline-primary" asp-controller="Welcome" asp-action="Register">
            انشاء حساب جديد
        </a>
        <a class="btn btn-lg btn-outline-dark animate__animated animate__fadeIn" asp-controller="Welcome" asp-action="Login">
            تسجيل الدخول
        </a>
    </div>
</div>
</body>