@model User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_WelcomeBaseLayout.cshtml";
}

<form class="container px-3" dir="rtl">
    <div class="row mb-3 mt-5">
        <h1 class="text-primary">
            حسابك جاهز!
        </h1>
    </div>
    <div class="row mb-3 mt-5">
        <h5>
            هذا ايدي الحساب ما يحتاج تحفظه الا لو بتدخل من جهاز ثاني، تقدر تشوفه بعدين من الاعدادات
        </h5>
        <br/>
        <h5 class="text-info">
            @Model.UserId
        </h5>
        <br/>
    </div>
    <div class="row" style="margin: 20%"></div>
    <div class="row">
        <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-outline-primary form-control-lg">
            دخول
        </a>
    </div>


</form>

